<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado liebre</title>
</head>

<body>
    <header>

        <div class="headerPadre">
            <div class="headerSon">
                <!-- logo y barra busqueda-->
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="mercado liebre">
                </div>


                <section class="search">
                    <div class="searchIn">
                        <input type="text" placeholder="Buscar productos, marcas">
                    </div>
                    <div class="lupa">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </section>

                <!-- Fin logo y barra busqueda-->
            </div>
            <div class="tit-header">
                <p><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav class="main-navar">
            <div class="left-navbar">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="right-navbar">
                <ul>
                    <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section>
        <div class="baner">
            <img src="./images/img-home-banner.jpg" alt="banner">
        </div>
    </section>
    <main>
        <section>
            <h1 class="title">Basado en tu ultima visita</h1>
            <div class="product">
                <article>
                    <div class="article">
                        <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento"> 40% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Cafetera Moulinex</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-macbook-pro-2019.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Macbook Pro 2019</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.000</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Samsung galaxy-s10</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-tv-samsung-smart.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$900.000</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Tremenda tele(medio cara) </h2>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="ofertas">
            <h1 class="title">Seccion de ofertas</h1>
            <div class="product">
                <article>
                    <div class="article">
                        <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Cafetera Moulinex</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-macbook-pro-2019.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Macbook Pro 2019</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.000</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Samsung galaxy-s10</h2>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                        <img src="\images\img-tv-samsung-smart.jpg" alt="imagen cafetera">
                        <div class="box-1">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$900.000</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <div class="description">
                            <h2>Tremenda tele(medio cara)</h2>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="pie-pagina">
            <div class="abajo">
                <div class="icono-pie">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h1 class="titulo-pie"> Pagá con tarjeta o en efectivo</h1>
                <p class="description"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="abajo">
                <div class="icono-pie">
                    <i class="fas fa-gift"></i>
                </div>
                <h1 class="titulo-pie">
                    Envío gratis desde $ 2.500</h1>
                <p class="description"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="abajo">
                <div class="icono-pie">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h1 class="titulo-pie">Seguridad, de principio a fin</h1>
                <p class="description"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer,porque estás siempre protegid@.</p>
            </div>
            </div>
            <div class="copyright">


            </div>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>